*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    transition: 300ms;
}

.container{
    width: 100%;
}

.container .nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid; */
    padding: 0 3.5%;
}

.container .nav span.logo{
    display: flex;
    align-items: center;
}

.container .nav span.logo img{
    width: 38px;
    height: 38px;
}

.container .nav h1{
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    font-size: 26px;
}

.container .nav span{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 15px;
}

.container .nav span.items{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
}

.container .nav span.items a{
    text-decoration: none;
    color: rgb(134, 133, 133);
    border-bottom: solid 2px transparent;
}

.container .nav span.items a:hover{
    border-bottom: solid 2px rgb(241, 113, 67);
}

.container .nav span.stuff a{
    text-decoration: none;
    padding: 6px 20px;
    border-radius: 5px;
}

.container .nav span.stuff a.first{
    background-color: white;
    color: black;
}

.container .nav span.stuff a.first:hover{
    color: white;
    background-color: rgb(107, 228, 250);
}

.container .nav span.stuff a.second{
    background-color: black;
    color: white;
}

.container .nav span.stuff a.second:hover{
    color: rgb(48, 35, 59);
    background-color: rgb(241, 113, 67);
}

.container .nav .i{
    display: none;
}

.container .section1{
    width: 100%;
    padding: 0 3.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .section1 .div1{
    flex-direction: column;
    /* border: solid 1px; */
    border-radius: 15px;
    margin: 20px 0;
    width: 45%;
}

.container .section1 .div1 h1{
    font-size: 45px;
    color: rgb(48, 35, 59);
}

.container .section1 .div1 h3{
    color: rgb(241, 113, 67);
}

.container .section1 .div1 p{
    margin: 5px 0;
    color: gray;
}

.container .section1 .div1 span.memeM a{
    border: solid 1px;
    border-radius: 15px;
    padding: 20px 3.5%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
}

.container .section1 .div1 span.memeM a.red{
    margin: 60px 0 20px 0;
    /* border-color: rgb(236, 36, 36); */
    border: none;
    /* color: rgb(236, 36, 36); */
    color: black;
}

.container .section1 .div1 span.memeM a.red:hover{
    box-shadow: 10px 10px 10px 5px rgb(218, 217, 217, 0.8);
}

.container .section1 .div1 span.memeM a.blue{
    margin: 0 0 20px 0;
    /* border-color: rgb(38, 196, 196); */
    border: none;
    /* color: rgb(38, 196, 196); */
    color: black;
}

.container .section1 .div1 span.memeM a.blue:hover{
    box-shadow: 10px 10px 10px 5px rgb(218, 217, 217, 0.8);
}

.container .section1 .div2{
    border-radius: 15px;
    margin: 20px 0;
    width: 45%;
    border: solid;
}

.container .section1 .div2 img{
}














@media screen and (max-width: 1100px) {
    .container .nav{
        padding: 0 2.5%;
    }

    .container .nav span.items{
        gap: 25px;
    }
}

@media screen and (max-width: 1000px) {
    .container .nav{
        padding: 10px 5%;
    }

    .container .nav span.items{
        display: none;
    }

    .container .nav .i{
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .container .nav span.logo img{
        width: 35px;
        height: 35px;
    }
    
    .container .nav h1{
        font-size: 23px;
    }

    .container .nav{
        padding: 0 7%;
        height: 100px;
    }

    .container .nav span.stuff a{
        display: none;
    }
}

